#DO NOT COMMIT THIS FILE

#POSTGRES
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

#KAFKA
KAFKA_BOOTSTRAP_SERVERS=

#EMAIL
# USE APP PASSWORD AND NOT YOUR EMAIL PASSWORD
EMAIL_USERNAME=
EMAIL_PASSWORD=